body {
  background-color: seagreen;
}

.container-fluid {
  background-color: white;
  /* border: 1px solid; */
  padding: 15px;
  box-shadow: 5px 5px 5px darkgreen;
}

.muted {
  color: grey;
}

.col-md-1 {
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  padding: 15px;
}